@import "~bootstrap/scss/bootstrap";
@import "~react-loading-skeleton/dist/skeleton";
@import 'react-toastify/scss/main.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-color: #e3e3e3;
  overflow: hidden;
}

#brand {
  font-weight: bolder;
  font-size: 30px;
}

#login-img-section {
  background-image: url('../public/images/home.jpg');
  background-size: cover;
  height: 100vh;
}

span{
  background-color:#f7fe00;
}

#login-btn, #signup-btn {
  background-color: black;
  color: white;
  border:none;
  box-sizing: content-box;
  width: 150px;
  height: 30px;
}

.create-acc, .back-homepage {
  font-weight: bold;
}

#pages-signup {
  height: 100vh;
  align-items: center;
}

#signup-box {
  height: 580px;
  width: 450px;
  background-color: white;
  border-radius: 10px;
}

#not-found {
  font-size: 120px;
}

// #pages-dashboard {
// height:70vh;
// }

#profile-box {
  background-color: white;
  width: 30%;
  height: 100%;
}

.profile-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #e3e3e3;
}

.user-info {
  font-size: 14px;
}

.measurements h3 {
  font-size: 14px;
  font-weight: bold;
}

.stats {
margin-left:30px;
}

#bmi-box, #weight-goal-box {
  background-color: white;
  height: 100%;
  width: 100%;
}

#weights-box {
  background-color: white;
  height:100%;
  width: 100%;
}

#workouts {
  background-color: white;
  height:100%;
  width: 100%;
}

.top button, .bottom button, .workout-btn button, #new-weight-btn, #edit-profile-btn {
    background-color: black;
    color: white;
    border:none;
    width: 120px;
    height: 35px;
    font-size: 12px;
    border-radius: 0;
}

#add-workout-btn {
  margin-right: 10px;
}

.height:first-child {
  margin-right: 30px;
}

#logout-btn {
  font-weight: bolder;
}
